@page
@using RazorPagesMascotas.Models @*namespace*@
@model RazorPagesPropietario.Pages.PropietarioModel
@{
    ViewData["Title"] = "Edicion Propietario";
}
<h1 class="title-mascotas">@ViewData["Title"]</h1>
<div class="form">
    <form method="post">
        <div class="row">
            <div class="bottom-form">
                <div class="hero-form">
                     <input type="hidden" asp-for="EntidadPropietario.PropietarioId" placeholder="Nro Identificacion"/>
                     
                    <label asp-for="EntidadPropietario.Identificacion">Identificación:
                        <input asp-for="EntidadPropietario.Identificacion" placeholder="Nro Identificacion"></label>
                    <label asp-for="EntidadPropietario.Nombre">Nombre:
                        <input asp-for="EntidadPropietario.Nombre" placeholder="Escribe el nombre."></label>
                    <label asp-for="EntidadPropietario.Apellidos">Apellido:
                        <input placeholder="Escribe el apellido." asp-for="EntidadPropietario.Apellidos"></label>
                </div>
                <div class="hero-form">
                    <label asp-for="EntidadPropietario.Direccion">Dirección:
                        <input asp-for="EntidadPropietario.Direccion"></label>
                    <label asp-for="EntidadPropietario.Telefono">Teléfono:
                        <input asp-for="EntidadPropietario.Telefono"></label>
                </div>
            </div>        
         <div class="top-form">
         </div>
        <div class="button">
            <input type="submit" value="Editar">
        </div>
    </form>
</div>
